body {
background-color:#F7F7F7;
margin:0px;
padding:0px;
text-align:center;
}

#outer {
margin:0px auto 0px auto;
width:860px;
font-size:13px;
line-height:150%;
text-align:left;
color:#000000;
background-color:#ffffff;
border-left:1px solid #CFCBC3;
border-right:1px solid #CFCBC3;
}

#header {
margin:0px auto 0px auto;
text-align:left;
background-color:#000000;
color:#ffffff;
height:94px;
}
.description {
padding-left:10px;
line-height:140%;
}
#home_title {
margin:0px auto 0px auto;
padding:0px auto 0px auto;
line-height:auto;
}

//10px 25px 10px 80px


ul {
margin: 0 0 0 1em;
padding: 0;
}

P {
margin:1em 0 1em 0;
line-height:150%;
}
img{
border:0px;
}
hr {
border-width: 1px 0px 0px 0px;
border-style: solid;
border-color: #cccccc;
height: 1px;
}
a{
font-weight:normal;
}
h1 {
font-size:20px;
text-align:left;
padding:30px 0px 0px 10px;
margin:0px;
}
h1 a{
font-weight:bold;
color: #ffffff;
text-decoration:none;
}
h1 a:hover{
font-weight:bold;
color: #ffffff;
text-decoration:underline;
}
h2 {
font-size:16px;
margin:4px 0px 0px 0px;
padding:9px 0px 7px 7px;
color: #000000;
}
h2 a{
font-weight:bold;
color: #000000;
text-decoration:underline;
}

#quiz01{
font-size:20px;
}

img.BW_face{
width:500px;
height:550px;
}

img.title{
width:600px;
height:150px;

}

img.start{
width:300px;
height:130px;

}

#start {
padding:10px 25px 10px 170px;
line-height:150%;
}