.btn{
    background-color: white;
    padding: 50px 0;
    width: auto;
}

.btn img{
    width: 70%;
}

.prologue{
    color: white;
    width: 80%;
    background-color: rgba(13, 247, 255, 0.5);
    margin: 40px auto;
}

.img_Gp{
    width: 95%;
}

.img_Ic{
    width: 20%;
    display: block;
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
}

.prologue p{
    text-align: left;
    padding: 30px;
    font-size: 14px;
}

.explanation{
    margin: 30px 0;
}

.explanation .p1{
    font-weight: bold;
    font-size: 40px;
}

.explanation .p2{
    margin: 0 auto;
    text-align: left;
    width: 80%;
    font-size: 16px;
}

.btnHidden{
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    margin: 100px 0 300px 0;
    text-decoration: none;
    color: rgb(22, 22, 22);
}