#q2{
    height: 100px;
}


* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/* body（全体）に適用。ここでmarginとpaddingの初期化も行う。 */
body {
    background-color:#000000;
    text-align:center;
    }



#header {
    text-align:left;
    background-color:#535353;
    color:#ffffff;
    height: auto;
    font-size:13px;
    }

#header p, h1{
    margin: 0px;
    padding: 10px;
    color: #ffffff;
}

#header h1{
    font-size: 16px;
}

#text h2{
    color: white;
    text-shadow: 1px 1px 3px #c4ecff;
    font-family:"Yu Gothic";
    font-weight: lighter;
    padding: 300px 0;
    background-image: url("img/circle.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.glitch{
    margin: 20px 0;
    padding: 200px 0;
}

.glitch{
    background-image: url("img/研究会グリッチロゴ.gif");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#text p{
    color: white;
}

h4{
    color: white;
}

h3{
    color: white;;
}

#V{
    width: 70%;
}

#Vs{
    width: 85%;
}

h5{
    margin: 20px auto;
    color: white;
    width: 80%;
}

.img_tp{
    width: 60%;
}